@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

.w-size {
    width: 200px;
}



.footer-link a {
    margin: 0 24px;
}

.align-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.items {
    display: flex;
    justify-content: space-between;
    margin: 0 12px;
}

.btn {
    border-radius: 0px;
    width: 315px;
    margin: 0 12px;
}

.btn-option {
    background-color: #F3F3F3;
    color: #4A4B4D;
}

.btn-option:hover {
    background-color: #b0b0b0;
    color: #F3F3F3;
}

.btn-selected {
    background-color: #004197; 
    color: #FFFFFF;
}

.btn-selected:hover {
    background-color: #004197; 
    color: #FFFFFF;
}


/* MEDIA SCREEN */

@media screen and (max-width: 765px) {
    .align-footer {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 490px){
    .footer-link a {
        margin: 0 12px;
    }
}

/*
lg 1024px

md 765px

sm 490px

*/


