@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

.w-size {
    width: 200px;
}

a {
    color: #000;
    text-decoration: none;
}

.footer-link a {
    margin: 0 24px;
}

.align-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.items {
    display: flex;
    justify-content: space-between;
    margin: 0 12px;
}

.btn {
    border-radius: 0px;
}

.btn-option {
    background-color: #F3F3F3;
    color: #4A4B4D;
}

.btn-option:hover {
    background-color: #b0b0b0;
    color: #F3F3F3;
}

.btn-selected {
    background-color: #004197; 
    color: #FFFFFF;
    border: #004197; 
}

.btn-selected:hover {
    background-color: #004197; 
    color: #FFFFFF;
    border: #004197; 
}

.btn-cart {
    background-color: #004197; 
    color: #FFFFFF;
    border: #004197; 
    width: 100%;
    padding: 6px;
}

.card {
    width: 300px;
}


.card img {
    height: 400px;
    object-fit: cover;
    max-width: 100%;
    width: 300px;
}

.img-detail {
    height: 515px;
    object-fit: cover;
    max-width: 100%;
    width: 515px;
}

.title {
    font-size: 28px;
    font-weight: bold;
}

.price {
    font-size: 25px;
    font-weight: bold;
    color: #E2342D;
}

.title-description {
    font-size: 25px;
}

.description {
    font-size: 16px;
}

.dropdown-menu {
    border-radius: 0;
}

.bg-body-footer {
    background-color: #0000000D !important;
}

ul {
    list-style-type: none;
  }

/* MEDIA SCREEN */

@media screen and (max-width: 995px) {
    .col-description {
        margin: 18px 0;
    }
}

@media screen and (max-width: 765px) {
    .align-footer {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 490px){
    .footer-link a {
        margin: 0 16px;
    }
}

/*
lg 1024px

md 765px

sm 490px

*/
